@{
    var itemcounter = 0;
}

@model List<Alctel.CRM.Web.Models.AccessProfileModel>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-sm-6">   
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-universal-access" viewBox="0 0 16 16">
                    <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9z"/>
                </svg>
                <label class="label-title">Perfis de Acesso</label>
                @* <button class="btn btn-style" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Lista de Clientes
            </button> *@

            </div>

            <div class="col-sm-6">
                <a class="btn btn-title-style" asp-area="" asp-controller="AccessProfile" asp-action="Create" title="Perfil de Acesso" type="_self">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>                                 
                </a>
            </div>

        </div>

    </div>

    <div class="card-body table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Módulos/Ações</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        { itemcounter = itemcounter + 1; }
                        <tr>
                            <th scope="row">@itemcounter</th>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                @{
                                    var modules = new Dictionary<string, string>();
                                    if (item.Modules != null && item.Modules.Any())
                                    {
                                        foreach (var module in item.Modules.OrderBy(_ => _.Name))
                                        {
                                            string accessPermission = string.Empty;
                                            if (module.ActionPermissions != null && module.ActionPermissions.Any())
                                            {
                                                accessPermission = string.Join(',', module.ActionPermissions.Select(_ => _.Name).Order());
                                            }

                                            // modules.Add($"{module.Name}:{accessPermission}");

                                            if (module.Name != null)
                                            {
                                                modules.Add(module.Name, accessPermission);
                                            }
                                        }
                                    }
                                }
                                @foreach(var m in modules)
                                {
                                    <p><strong>@m.Key => </strong>@m.Value</p>
                                }
                                
                            </td>
                            <td align="right">
                                @if (item.Name.ToUpper() != "ADMINISTRADOR")
                                {
                                    <form method="get" asp-action="Edit">
                                        <input type="hidden" name="id" value=@item.Id />
                                        <button type="submit" class="btn btn-style">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                            </svg>
                                        </button>                                    
                                    </form>
                                }
                            </td>
                            <td>
                               @*  <form method="get" asp-action="Delete">
                                    <input type="hidden" name="id" value=@item.Id />
                                    <button type="submit" class="btn btn-style">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>                                    
                                </form>     *@                            
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>


    </div>
</div>