@* @model List<Alctel.CRM.Web.Models.TicketModel>

@{
	string show_tab = "active";
	string? ticketMessage = (string)ViewBag.TicketMessage;
}

<div class="card">
	<div class="card-header">
		<h5 class="mb-0">
			<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
				<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
			</svg>
			<button class="btn btn-title-style" type="button" data-toggle="collapse"
					data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				Em Atendimento (OnLine)
			</button>
		</h5>
	</div>


	<div class="card card-body">

		<div class="row smal mb-3">
			@if (string.IsNullOrEmpty(ticketMessage) == false)
			{
				@if (ticketMessage.Contains("Erro"))
				{
					<div class="alert alert-danger" role="alert">
						@ticketMessage
					</div>
				}
				else
				{
					<div class="alert alert-success" role="alert">
						@ticketMessage
					</div>
				}
			}
			
		</div>

		@if (Model != null && Model.Count > 0)
		{
			<ul class="nav nav-tabs" id="TicketTab" role="tablist">
				@for (int index = 0; index < Model.Count; index++)
				{
					@if (index > 0) show_tab = string.Empty;

					<li class="nav-item" role="presentation">
						<button class="nav-link @show_tab" id="ticket_@index-tab" data-bs-toggle="tab"
								data-bs-target="#ticket_@index" type="button" role="tab" aria-controls="ticket_@index"
								aria-selected="true">
							@Model[index].Customer.FirstName
						</button>
					</li>
				}
			</ul>

			show_tab = "show active";
			<div class="tab-content" id="TicketTabContent">

				@for (int index = 0; index < Model.Count; index++)
				{
					@if (index > 0) show_tab = string.Empty;

					<div class="tab-pane fade @show_tab" id="ticket_@index" role="tabpanel" aria-labelledby="ticket_@index-tab">

						<div class="row">
							<form method="post" asp-action="GenesysInteractionEvent" id="ticket_form_@index">

								<input type="hidden" asp-for="@Model[index].Customer.Id" />
								<input type="hidden" asp-for="@Model[index].ConversationId" />

								<div class="row smal mb-3">
									<div class="col-sm-4">
										<label asp-for="@Model[index].Customer.FirstName">Nome:</label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].Customer.FirstName"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>
						

									<div class="col-sm-4">
										<label asp-for="@Model[index].Customer.SocialAffectionateName">Nome Social/Afetivo:</label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text"
													   asp-for="@Model[index].Customer.SocialAffectionateName"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].Customer.Cpf"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].Customer.Cpf"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>
								</div>

								<div class="row smal mb-3">
									<div class="col-sm-4">
										<label asp-for="@Model[index].Protocol"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].Protocol"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].CustomerNavigation"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].CustomerNavigation"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].QueueGenesys"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].QueueGenesys"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>
								</div>


								<div class="row smal mb-3">


									<div class="col-sm-4">
										<label asp-for="@Model[index].QueueGT"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select asp-for="@Model[index].QueueGT"
														asp-items="@Model[index].QueueGTOptions">
												</select>
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].DemandType"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select asp-for="@Model[index].DemandType"
														asp-items="@Model[index].DemandTypeOptions">
												</select>
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].TicketCriticality"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select class="ticket_init" asp-for="@Model[index].TicketCriticality"
														asp-items="@Model[index].TicketCriticalityOptions">
												</select>
											</div>
										</div>
									</div>

								</div>

								<div class="row smal mb-3">

									<div class="col-sm-4">
										<label asp-for="@Model[index].TicketDate"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="date" asp-for="@Model[index].TicketDate"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].SlaSystemRole"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].SlaSystemRole"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].Sla"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].Sla"
													   aria-describedby="basic-addon2" />
											</div>
										</div>
									</div>


								</div>

								<div class="row smal mb-3">

									<div class="col-sm-4">
										<label asp-for="@Model[index].Thermometer"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<input class="standard-input" type="text" asp-for="@Model[index].Thermometer"
													   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
											</div>
										</div>
									</div>


									<div class="col-sm-4">
										<label asp-for="@Model[index].TicketStatus"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select class="ticket_init" asp-for="@Model[index].TicketStatus"
														asp-items="@Model[index].TicketStatusOptions">
												</select>
											</div>
										</div>
									</div>

									<div class="col-sm-4">
										<label asp-for="@Model[index].AnySolution"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select class="ticket_init" asp-for="@Model[index].AnySolution"
														asp-items="@Model[index].AnySolutionOptions">
												</select>
											</div>
										</div>
									</div>

								</div>
								<div class="row smal mb-3">
									<div class="col-sm-6">
										<label asp-for="@Model[index].DemandInformation"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<textarea asp-for="@Model[index].DemandInformation" rows="8" style="width:99%;" placeholder="Digite aqui">
																			</textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label asp-for="@Model[index].DemandObservation"></label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<textarea asp-for="@Model[index].DemandObservation" rows="8" style="width:99%;" placeholder="Digite aqui">
																			</textarea>
											</div>
										</div>
									</div>
								</div>



								<div class="row smal mb-3">
									<h5 class="mb-0">
										<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
											<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
										</svg>
										<button class="btn btn-title-style" type="button" data-toggle="collapse"
												data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
												aria-controls="collapseOne">
											Classificação
										</button>
									</h5>
								</div>

								<div class="row smal mb-3">
									<div class="col-sm-3">
										@if (Model[index].ClassificationTree.ClassificationDemandOptions != null)
										{
											<label asp-for="@Model[index].ClassificationTree.ClassificationDemandId">Demanda:</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification" asp-for="@Model[index].ClassificationTree.ClassificationDemandId"
															asp-items="@Model[index].ClassificationTree.ClassificationDemandOptions">
														<option>Opções</option>
													</select>
												</div>
											</div>
										}
									</div>

									<div class="col-sm-3">
										<label asp-for="@Model[index].ClassificationTree.ClassificationDemandTypeId">Tipo:</label>
										<div class="input-group input-group-sm mb-3">
											<div>
												<select class="ticket_init ticket_classification ticket_types" asp-for="@Model[index].ClassificationTree.ClassificationDemandTypeId">
													<option>Opções</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-sm-2">
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationReasonId">Motivo:</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_reasons" asp-for="@Model[index].ClassificationTree.ClassificationReasonId">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationReasonListItemId">
												Itens da
												Lista:
											</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_reasons_listitem" asp-for="@Model[index].ClassificationTree.ClassificationReasonListItemId">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-2">
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationSubmotive01Id">
												SubMotivo
												1:
											</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_submotive01" asp-for="@Model[index].ClassificationTree.ClassificationSubmotive01Id">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationSubmotive01ListItemId">
												Itens da
												Lista:
											</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_submotive01list" asp-for="@Model[index].ClassificationTree.ClassificationSubmotive01ListItemId">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-2">
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationSubmotive02Id">
												SubMotivo
												2:
											</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_submotive02" asp-for="@Model[index].ClassificationTree.ClassificationSubmotive02Id">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<label asp-for="@Model[index].ClassificationTree.ClassificationSubmotive02ListItemId">
												Itens da
												Lista:
											</label>
											<div class="input-group input-group-sm mb-3">
												<div>
													<select class="ticket_init ticket_classification ticket_submotive02list" asp-for="@Model[index].ClassificationTree.ClassificationSubmotive02ListItemId">
														<option>Opções</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row smal mb-3">
									<div class="col-sm-1">
										<h5 class="mb-0">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill"
												 viewBox="0 0 16 16">
												<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
											</svg>
											<button class="btn btn-title-style" type="button" data-toggle="collapse"
													data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
													aria-controls="collapseOne">
												Anexos
											</button>
										</h5>
									</div>
									<div class="col-sm-2">
									</div>
								</div>

								<div class="row smal mb-3">
									<div class="custom-file" style="margin-bottom: 20px;">
										<input type="file" id="files" name="files[]" multiple style="display: none;" />
										<label class="custom-file-input" for="files"
											   style="background-color:#e2e6ee; color:#666666; font-weight:bold; padding:5px; border-radius: 5px;">Anexar</label>
									</div>
								</div>
								<div class="row smal mb-3" style="margin-bottom:5px;">
									<div id="filelist" style="display: inline">
									</div>
								</div>

								<input type="hidden" asp-for="@Model[index].Id" value="@Model[index].Id" />
								<input type="hidden" asp-for="@Model[index].ProtocolType" value="@Model[index].ProtocolType" />



								<button type="submit" class="btn btn-style">Salvar</button>
								<button type="button" class="btn btn-style cancel-form">Cancelar</button>
							</form>

						</div>

						<br />
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col-sm-6">
										<h5 class="mb-0">
											<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill"
												 viewBox="0 0 16 16">
												<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
											</svg>
											<button class="btn btn-title-style" type="button" data-toggle="collapse"
													data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
													aria-controls="collapseOne">
												Histórico/Jornada
											</button>
										</h5>
									</div>

									<div class="col-sm-3">
									</div>

									<div class="col-sm-3">
										
									</div>
								</div>
							</div>

							<div class="card-body">
								<table id="journeyTable" class="table table-striped table-sm"
									   style="margin-top: 50px;background-color: #f2f2f2;">
									<thead>
										<tr style="color: #666666 !important; font-weight: bold;">
											<th scope="col">Cliente</th>
											<th scope="col">Protocolo</th>
											<th scope="col">Data do Protocolo</th>
											<th scope="col">Tipo de Protocolo</th>
											<th scope="col">Tipo de Demanda</th>
											<th scope="col">Criticidade</th>
											<th scope="col">Status</th>
											<th scope="col">SLA</th>
											<th scope="col">Fila GT</th>
											<th scope="col">Fila Genesys</th>
											<th scope="col">Termômetro</th>
											<th scope="col">Usuário</th>
										</tr>
									</thead>
									<tbody>
										<tr class="journey-link">
											<td>ADAIR SANTOS RODRIGUES COSTA</td>
											<td>20250913100001</td>
											<td>06/09/2025 19:59:02</td>
											<td>Pai</td>
											<td>Demanda</td>
											<td>Alta</td>
											<td>Finalizado</td>
											<td>1 hora</td>
											<td>Nível 2</td>
											<td>Suporte</td>
											<td>Integração</td>
											<td>Gisele</td>
										</tr>
										<tr class="journey-link">
											<td>ADALMAR MAGALHAES DA SILVA</td>
											<td>20250913100002</td>
											<td>06/01/2025 19:59:02</td>
											<td>Pai</td>
											<td>Demanda</td>
											<td>Alta</td>
											<td>Finalizado</td>
											<td>1 hora</td>
											<td>Nível 2</td>
											<td>Suporte</td>
											<td>Integração</td>
											<td>Gisele</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>



					</div>
				}

			</div>
		}



	
	</div>

	<!-- Button trigger modal -->
	<button id="openModalJourney" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" hidden>
		Launch static backdrop modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0">
								<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
									<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
								</svg>
								<button type="submit" class="btn btn-title-style" type="button" data-toggle="collapse"
										data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Histórico
								</button>
							</h5>
						</div>
					</div>

					<div class="card card-body">

						<div class="row smal mb-3">
							<div class="col-sm-4">
								<label ></label>
								<div class="input-group input-group-sm mb-3">
									<div>
										<input type="text" 
											   aria-describedby="basic-addon2" readonly style="background-color:#E2E8F0;" />
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Understood</button>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(function () {
			tools.Init.ComboBox()
			tools.Methods.LoadJourneyTableHover()
			// tools.Events.OnJourneyLine()

			classification.Events.OnChangeOptions()


		})

		var tools = {
			Init: {
				ComboBox: function () {
					$(".ticket_init").select2ToTree({
						// treeData: {
						//     dataArr:mydata
						// },
						// maximumSelectionLength: 3,
						placeholder: "Opções...",
					});
				},
			},
			Methods: {
				LoadJourneyTableHover: function () {
					$(".journey-link").mouseover(function () {
						$(this).addClass("hover");
						$(this).css('cursor', 'pointer');
					});

					$(".journey-link").mouseleave(function () {
						$(this).removeClass("hover");
						$(this).css('cursor', 'default');
					});
				}
			},

			Events: {
				OnJourneyLine: function () {
					$(".journey-link").on('click', function () {
						var clickedRow = $(this)

						console.log(clickedRow.find('td:nth-child(2)').text())

						// $('#staticBackdrop').removeClass('modal fade')
						// $('#staticBackdrop').addClass('modal fade show')

						// // $('#staticBackdrop').css('display', '')
						// $('#staticBackdrop').css('display', 'block')

						// $("#staticBackdrop").attr("role", "dialog");

						$('#openModalJourney').trigger('click')
					});
				}
			}
		}

		var classification = {
			Events: {
				OnChangeOptions: function () {
					$('.ticket_classification').on('change', function(e) {
						const elementid = e.target.id
						var selectedValue = $(this).val();

						if (elementid.includes('ClassificationDemandId')) {

							$('.ticket_types').empty()
							$('.ticket_reasons').empty()
							$('.ticket_reasons_listitem').empty()
							$('.ticket_submotive01').empty()
							$('.ticket_submotive01list').empty()
							$('.ticket_submotive02').empty()
							$('.ticket_submotive02list').empty()

							classification.Triggers.ClassificationRequest('DEMAND', selectedValue, classification.Callbacks.ClassificationCb)
						}
						else if (elementid.includes('ClassificationDemandTypeId')) {

							$('.ticket_reasons').empty()
							$('.ticket_reasons_listitem').empty()
							$('.ticket_submotive01').empty()
							$('.ticket_submotive01list').empty()
							$('.ticket_submotive02').empty()
							$('.ticket_submotive02list').empty()

							classification.Triggers.ClassificationRequest('TYPE', selectedValue, classification.Callbacks.ClassificationCb)
						}
						else if (elementid.includes('ClassificationReasonId')) {
							$('.ticket_reasons_listitem').empty()
							$('.ticket_submotive01').empty()
							$('.ticket_submotive01list').empty()
							$('.ticket_submotive02').empty()
							$('.ticket_submotive02list').empty()

							var values = selectedValue.split(":")
							var reasonid = values[0]
							var listid = values[1]

							classification.Triggers.ClassificationRequest('REASON', listid, classification.Callbacks.ClassificationCb)

							classification.Triggers.ClassificationRequest('REASON_SUBMOTIVE01', reasonid, classification.Callbacks.ClassificationCb)
						}
						else if (elementid.includes('ClassificationSubmotive01Id')) {

							$('.ticket_submotive01list').empty()
							$('.ticket_submotive02').empty()
							$('.ticket_submotive02list').empty()

							var values = selectedValue.split(":")
							var reasonid = values[0]
							var listid = values[1]

							classification.Triggers.ClassificationRequest('REASON_SUBMOTIVE01_LIST', listid, classification.Callbacks.ClassificationCb)

							classification.Triggers.ClassificationRequest('REASON_SUBMOTIVE02', reasonid, classification.Callbacks.ClassificationCb)
						}
						else if (elementid.includes('ClassificationSubmotive02Id')) {
							classification.Triggers.ClassificationRequest('REASON_SUBMOTIVE02_LIST', selectedValue, classification.Callbacks.ClassificationCb)
						}
					})
				}
			},

			Triggers: {
				ClassificationRequest: function (eventFromCb, selectedValue, callback) {
					let target_url = ''
					let target_class = ''

					console.log(selectedValue)

					if (eventFromCb === 'DEMAND') {
						target_url = `${origin_url}/ClassificationDemandType/GetClassificationDemandTypeList/${selectedValue}`

						target_class = 'ticket_types'
					}
					else if (eventFromCb === 'TYPE') {
						target_url = `${origin_url}/ClassificationListItems/GetClassificationReasonList/${selectedValue}`

						target_class = 'ticket_reasons'
					}
					else if (eventFromCb === 'REASON') {
						target_url = `${origin_url}/ClassificationListItems/GetClassificationListItemsActive/${selectedValue}`

						target_class = 'ticket_reasons_listitem'
					}
					else if (eventFromCb === 'REASON_SUBMOTIVE01') {
						target_url =  `${origin_url}/ClassificationListItems/ClassificationReasonChildren/${selectedValue}`

						target_class = 'ticket_submotive01'
					}
					else if (eventFromCb === 'REASON_SUBMOTIVE01_LIST') {
						target_url =  `${origin_url}/ClassificationListItems/GetClassificationListItemsActive/${selectedValue}`

						target_class = 'ticket_submotive01list'
					}
					else if (eventFromCb === 'REASON_SUBMOTIVE02') {
						target_url =  `${origin_url}/ClassificationListItems/ClassificationReasonChildren/${selectedValue}`

						target_class = 'ticket_submotive02'
					}
					else if (eventFromCb === 'REASON_SUBMOTIVE02_LIST') {
						target_url =  `${origin_url}/ClassificationListItems/GetClassificationListItemsActive/${selectedValue}`

						target_class = 'ticket_submotive02list'
					}

					$.get(target_url, function (data, status) {
						if (status === 'success') {
							callback(target_class, data)
						}
					})
				}
			},

			Callbacks: {
				ClassificationCb: function (target_class, data) {
					console.log(target_class, data)
					$(`.${target_class}`).empty()

					$(`.${target_class}`).append(
						$('<option>', {
							value: '',
							text: 'Opções',
						})
					)

					$.each(data, function (index, value) {
						if (value.active) {
							let id = value.id

							if (target_class === 'ticket_reasons') {
								id = `${value.id}:${value.classificationListReasonId}`
							}
							else if (target_class === 'ticket_submotive01') {
								id = `${value.id}:${value.classificationListReasonId}`
							}
							else if (target_class === 'ticket_submotive02') {
								// id = `${value.id}:${value.classificationListReasonId}`
								id = value.classificationListReasonId
							}

							$(`.${target_class}`).append(
								$('<option>', {
									value: id,
									text: value.name,
								})
							)
						}
					})
				}
			}
		}

	</script>
} *@