@{
	var itemcounter = 1;
	// var profileSession = Context.Session.GetString("Profile");
	// string profile = string.Empty;

	// if (profileSession != null)
	// {
	// 	profile = profileSession;
	// }

	bool showPageControl = false;

	if (ViewBag.ShowPageControl != null)
	{
		showPageControl = ViewBag.ShowPageControl;
	}

	List<int> previousFirstPages = (List<int>)ViewBag.PreviousFirstPages;
	List<int> nextLastPages = (List<int>)ViewBag.NextLastPages;
	string? baseUrl = ViewBag.BaseUrl;

	baseUrl = baseUrl == null ? string.Empty : baseUrl;

	string? profile = Context.Session.GetString("Profile");
	profile = profile ?? string.Empty;

	Int64 userId = 0;
	string? userIdStr = Context.Session.GetString("UserId");

	if (string.IsNullOrEmpty(userIdStr) == false)
	{
		userId = Int64.Parse(userIdStr);
	}

	string? username = Context.Session.GetString("Username");
	username = username ?? string.Empty;
}

@model List<Alctel.CRM.Web.Models.TicketModel>

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-9">
			</div>
			<div class="col-sm-3">
				@if (ViewBag.AlertFilter == "SHOW")
				{
					<div class="alert alert-danger alert-dismissible alert-small fade show" role="alert" id="userFilterMessage">
						Necessário preencher todos os campos da Pesquisa
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">

				@* <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>                             *@


				<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
				</svg>
				<label class="label-title">Gerenciar Chamados</label>
				@* <button class="btn btn-style" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Lista de Clientes
            </button> *@

			</div>

			<div class="col-sm-2">
				@* <a class="btn btn-title-style" asp-area="" asp-controller="Ticket" asp-action="Create" title="Criar Chamado" type="_self">
					<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
					</svg>
				</a> *@
			</div>

			<div class="col-sm-4">
				@* 				<div style="display: inline-block;">
					<div class="input-group input-group-sm mb-3">
						<div>
							<input class="standard-input" type="text" aria-label="CreatedOn"
								   aria-describedby="basic-addon2" readonly style="border-radius: 7px;">
						</div>
					</div>
				</div> *@
				<div style="display: inline-block;">
					<form id="searchTicketId" method="post" asp-action="Search">
						<div style="display: inline-block;">
							<select id="searchTicketType" name="searchTicketType" aria-label="Perfil">
								<option selected>Tipo Filtro&nbsp;&nbsp;</option>
								<option value="protocolo">Protocolo</option>
								<option value="cpf">Cpf</option>
								<option value="nome_cliente">Cliente</option>
								@* <option value="tipo_demanda">Tipo de Demanda</option> *@
								<option value="criticidade">Criticidade</option>
								<option value="status">Status</option>
								<option value="fila_gt">Nível de Atendimento</option>
								<option value="usuario">Usuário</option>
								<option value="data_abertura">Data Abertura</option>
							</select>
						</div>
						<div style="display: inline-block;">
							<div class="input-group input-group-sm mb-3">
								<div>
									<input name="searchTicketText" id="searchTicketText" class="standard-input" type="text" aria-label="Search" value=""
										   aria-describedby="basic-addon2" style="border-radius: 7px;" minlength="3" autocomplete="off">
								</div>
							</div>
						</div>
						<div style="display: inline-block;">
@* 							<svg id="searchUser" xmlns="http://www.w3.org/2000/svg" class="bi bi-search" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
							</svg> *@
							<button type="submit" class="btn btn-style">Pesquisar</button>

						</div>

						@* 					<input type="submit" style="display: none;" /> *@
						<button type="submit" class="btn btn-style" style="display: none;"></button>

					</form>
				</div>
			</div>
		</div>

	</div>

	<div class="card-body table-responsive">
		<table class="table table-striped table-sm" id="ticketDataTable">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Cliente</th>
					<th scope="col">Protocolo</th>
					@* <th scope="col">Protocolo Pai</th> *@
					<th scope="col">Data do Protocolo</th>
					<th scope="col">Tipo de Protocolo</th>
					@* <th scope="col">Tipo de Demanda</th> *@
					<th scope="col">Criticidade</th>
					<th scope="col">Status</th>
					<th scope="col">SLA</th>
					<th scope="col">Nível de Atendimento</th>
					<th scope="col">Fila Genesys</th>
					<th scope="col">Termômetro</th>
					@* <th scope="col">Anexo</th> *@
					<th scope="col">Usuário</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>

				@if (Model != null && Model.Any())
				{
					@foreach (var item in Model)
					{
						@* 						string customerName = string.Empty;
						if (item.Customer != null)
						{
							var customerFirstName = item.Customer.FirstName ?? string.Empty;
							var customerLastName = item.Customer.LastName ?? string.Empty;

							customerName = string.Concat(customerFirstName, customerLastName);
						} *@

						<tr>
							<th scope="row">@itemcounter</th>
							<td>@item.CustomerFullName</td>
							<td>@item.Protocol</td>
							@* <td>@item.ParentProtocol</td> *@
							<td>@item.ProtocolDate.ToString("dd/MM/yyyy HH:mm")</td>
							<td>@item.ProtocolType</td>
							@* <td>@item.DemandType</td> *@
							<td>@item.TicketCriticality</td>
							<td>@item.TicketStatus</td>
							<td>@item.SlaSystemRole</td>
							<td>@item.QueueGT</td>
							<td>@item.QueueGenesys</td>
							<td>@item.Thermometer</td>
							@* <td>@(item.HasAttachment ? "Sim" : "Não")</td> *@
							<td>@item.User</td>
							<td align="right">
								@* 								<form method="get" asp-action="Edit">
									<input type="hidden" name="id" value=@item.Id />
									<button type="submit" class="btn btn-style">
										<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-pencil-fill" viewBox="0 0 16 16">
											<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
										</svg>
									</button>
								</form> *@

								@if (item.User != null && item.User.ToUpper() == username.ToUpper())
								{
									if (profile.ToUpper() != "MONITOR")
									{
										<a href="@baseUrl/Ticket/Edit/?id=@item.Id">Editar</a>
									}
								}
							</td>
							<td>
								@* 								<form method="get" asp-action="Delete">
									<input type="hidden" name="id" value=@item.Id />
									<button type="submit" class="btn btn-style">
										<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-trash3" viewBox="0 0 16 16">
											<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
										</svg>
									</button>
								</form> *@
								@* 
								@if (string.IsNullOrEmpty(item.User))
								{
									
									<button type="button" class="btn btn-style" data-bs-toggle="modal"
											data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.Submit(@item.Id)">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-up" viewBox="0 0 16 16">
											<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
											<path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
										</svg>
									</button>
									<a href="#" data-bs-toggle="modal"
									   data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.Submit(@item.Id)">Gerenciar</a>
								} *@

								@if (profile.ToUpper() == "ADMINISTRADOR")
								{
									<a href="#" data-bs-toggle="modal"
										data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.LoadScreen(@item.Id, '@item.User')">
										Atribuir
									</a>
@* 									@if (string.IsNullOrEmpty(item.User))
									{
										<a href="#" data-bs-toggle="modal"
										data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.LoadScreen(@item.Id, '@item.User')">Atribuir</a>
									}
									else if (item.User.ToUpper() != username.ToUpper())
									{
										<a href="#" data-bs-toggle="modal"
										   data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.LoadScreen(@item.Id, '@item.User')">Atribuir</a>
									} *@
								}
								else if (profile.ToUpper() == "MONITOR")
								{
									<a href="@baseUrl/Ticket/ViewTicket/?id=@item.Id">Visualizar</a>
								}
								else
								{
									if (string.IsNullOrEmpty(item.User))
									{
										<a href="#" data-bs-toggle="modal"
										   data-bs-target="#associateTicketModel" onclick="associateTicketToMe.Methods.LoadScreen(@item.Id, '@item.User')">Atribuir</a>
									}
									else
									{
										@if (item.User != null && item.User.ToUpper() != username.ToUpper())
										{
											<a href="@baseUrl/Ticket/ViewTicket/?id=@item.Id">Visualizar</a>
										}
									}
								}
							</td>
						</tr>

						{ itemcounter = itemcounter + 1; }
					}
				}

			</tbody>
		</table>

		@if (showPageControl)
		{
			<div style="text-align: center;">
				Página @ViewBag.CurrentPage
			</div>
		}
	</div>


	@if (showPageControl)
	{
		<div>
			<span>@ViewBag.InfoPage</span>
		</div>
		<div style="display:flex; align-items:flex-start;">

			<div>
				@* 				<form method="get" asp-action="Index" id="PreviousPage">
					<input class="btnpagecontrol" type="submit" name="PreviousPage" value="&lsaquo; Anterior" />
					<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.PreviousPage" />
				</form> *@
				<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@ViewBag.PreviousPage">&lsaquo; Anterior</a>

			</div>

			@if (previousFirstPages != null && previousFirstPages.Any())
			{
				<div>
					@* 					<form method="get" asp-action="Index" id="PreviousNPage">
						<input class="btnpagecontrol" type="submit" name="PreviousNPage" value="&lsaquo;&lsaquo;" />
						<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.PreviousNPage" />
					</form> *@
					<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@ViewBag.PreviousNPage">&lsaquo;&lsaquo;</a>
				</div>
			}

			<div>
				@* 				<form method="get" asp-action="Index" id="FirstPage">
					<input class="btnpagecontrol" type="submit" name="FirstPage" value="1" />
					<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.FirstPage" />
				</form> *@
				<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=1">1</a>
			</div>

			<div>
				...
			</div>

			@if (previousFirstPages != null && previousFirstPages.Any())
			{
				@foreach (var pagenumber in previousFirstPages)
				{
					if (pagenumber > 0)
					{
						<div>
							@* 						<form method="get" asp-action="Index" id="@pagenumber">
							<input class="btnpagecontrol" type="submit" name="@pagenumber" value="@pagenumber" />
							<input type="hidden" name="currentpage" id="currentpage" value="@pagenumber" />
						</form> *@
							<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@pagenumber">@pagenumber</a>

						</div>

					}
				}


				<div>
					...
				</div>
			}

			<div>
				@* 				<form method="get" asp-action="Index" id="LastPage">
					<input class="btnpagecontrol" type="submit" name="LastPage" value="@ViewBag.LastPage" />
					<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.LastPage" />
				</form> *@
				<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@ViewBag.LastPage">@ViewBag.LastPage</a>

			</div>

			@if (previousFirstPages != null && previousFirstPages.Any())
			{
				<div>
					@* 					<form method="get" asp-action="Index" id="NextNPage">
						<input class="btnpagecontrol" type="submit" name="NextNPage" value="&rsaquo;&rsaquo;" />
						<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.NextNPage" />
					</form> *@
					<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@ViewBag.NextNPage">&rsaquo;&rsaquo;</a>
				</div>
			}


			<div>
				@* 				<form method="get" asp-action="Index" id="NextPage">
					<input class="btnpagecontrol" type="submit" name="NextPage" value="Próximo &rsaquo;" />
					<input type="hidden" name="currentpage" id="currentpage" value="@ViewBag.NextPage" />
				</form> *@
				<a class="btn pagecontrollink" style="" href="@baseUrl/Ticket/Index?currentpage=@ViewBag.NextPage">Próximo &rsaquo;</a>
			</div>


		</div>
	}


	<div class="modal fade" id="associateTicketModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		 aria-labelledby="associateTicketLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="associateTicketLabel">Atribuição de Chamado</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div id="associateTicketOpenId" class="modal-body">
				</div>
				<div class="modal-footer">
					<button id="btnAssociateTicketModelClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

</div>

@section Scripts {
	<script src="~/js/ticketAssignment.js"></script>
}