@{
	var itemcounter = ViewBag.StartIndex;

	if (itemcounter == null)
	{
		itemcounter = 1;
	}

}

@model Alctel.CRM.Web.Models.TicketClassificationConfigListModel

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-9">
			</div>
			<div class="col-sm-3">
				@if (ViewBag.AlertFilter == "SHOW")
				{
					<div class="alert alert-danger alert-dismissible alert-small fade show" role="alert" id="userFilterMessage">
						Necessário preencher todos os campos da Pesquisa
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">

				@* <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>                             *@


				<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
				</svg>
				<label class="label-title">Configuração de Listas</label>
				@* <button class="btn btn-style" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Lista de Clientes
            </button> *@

			</div>
		</div>

	</div>

	<div class="card-body">

		<div class="row" style="margin-bottom:10px;">
			<div class="col-sm-3">
				<label asp-for="@Model.Listname"></label>
				<input type="hidden" asp-for="@Model.ListId" />
				<select asp-for="@Model.Listname" asp-items="@Model.ListOptions" onchange="ticketClassification.Events.OnTicketClassificationListChanged();">
				</select>
			</div>
		</div>

		<div id="ticketClassificationListItemsId" class="row">
@* 			<div class="col-sm-3">
				<label asp-for="@Model.ListItemName"></label>
				<input type="hidden" asp-for="@Model.ListItemId" />
				<select asp-for="@Model.ListItemName" asp-items="@Model.ListItemOptions">
				</select>
			</div> *@

		</div>

	</div>

</div>

@section Scripts {
	<script src="~/js/ticketClassification.js"></script>
}