@model List<Alctel.CRM.Web.Models.TicketClassificationListItemsModel>

@{
	Layout = null;

	var itemcounter = 0;
	string? baseUrl = Context.Session.GetString("BaseUrl");
	baseUrl = baseUrl == null ? string.Empty : baseUrl;

	string listidstr = ViewBag.ListId;
	Int64 listid = string.IsNullOrEmpty(listidstr) ? 0 : Int64.Parse(listidstr);
}

<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-sm-6">
				<h5 class="mb-0">
					<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
					</svg>
					<button class="btn btn-title-style" type="button" data-toggle="collapse"
							data-bs-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Configuração de Itens da Listas
					</button>
				</h5>
			</div>

			<div class="col-sm-3">
				<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ticketClassificationListItemModal">
					Novo Item da Lista
				</button>
			</div>

		</div>
	</div>

	<div class="card-body table-responsive">

		<table class="table table-striped table-sm" id="ListItemDataTable">
			<thead>
				<tr>
					<th scope="col">#</th>
					@* <th scope="col">Ativar/Desativar</th> *@
					<th scope="col">Item</th>
					<th scope="col">Status</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.Any())
				{
					@foreach (var item in Model)
					{
						{ itemcounter = itemcounter + 1; }
						<tr>
							<th scope="row">@itemcounter</th>
							<td>@item.Name</td>
							<td>
								@if (item.Status)
								{
									@:Ativado
								}
								else
								{
									@:Desativado
								}
							</td>
							<td align="left">
								@* <a href="@baseUrl/TicketClassification/Edit/?id=@item.Id">Editar</a> *@
								<a href="#" onclick="ticketClassification.Events.OnTicketClassificationListItemEdit(@item.ListItemId)">Editar</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

	<div class="modal fade" id="ticketClassificationListItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		 aria-labelledby="ticketClassificationListItemModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Classificação Adicionar Item na Lista</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-header">

							<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
								<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
							</svg>
							<label class="label-title">Adicionar nova lista</label>

						</div>

						<div class="card-body">
							<div class="row">
								<form method="post" action="@baseUrl/TicketClassification/CreateListItem">
									<div class="form-control-sm">
										<label for="listNameId">Nome da Lista:</label>
										<input class="standard-input" type="text" id="listItemName" name="listItemName" required />
										@* <input type="hidden" id="listId" name="listId" value="@Model.FirstOrDefault().Id" /> *@
										<input type="hidden" id="listId" name="listId" value="@listid" />
									</div>
									<div style="margin-left: 8px;">
										<button type="submit" class="btn btn-style">Criar</button>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>


