@{
	string? baseUrl = Context.Session.GetString("BaseUrl");

	baseUrl = baseUrl == null ? string.Empty : baseUrl;
}

@model Alctel.CRM.Web.Models.TicketClassificationModel;

<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-sm-6">

				<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
				</svg>
				<label class="label-title">Criando Serviço</label>


			</div>
			<div class="col-sm-3">
			</div>
		</div>

	</div>

	<div class="card-body">
		<form method="post" action="@baseUrl/SlaAlert/Create">
			<div class="row" style="margin-bottom:10px;">
				<div class="col-sm-1">
					<label>Se</label>
				</div>
				<div class="col-sm-2">
					<label asp-for="@Model.ManifestationTypeId"></label>
					<input type="hidden" asp-for="@Model.ManifestationTypeName" />
					<select asp-for="@Model.ManifestationTypeId" asp-items="@Model.ManifestationTypeOptions" onchange="slaAlertConfig.Events.OnManifestationTypeChanged();">
					</select>
				</div>

				@*  			<div id="" class="col-sm-3" style="display:none;">
				<label asp-for="@Model.ServiceUnitId"></label>
				<input type="hidden" asp-for="@Model.ServiceUnitName" />
				<select asp-for="@Model.ServiceUnitId" asp-items="@Model.ServiceUnitOptions">
				</select>
			</div>
 *@
@* 
				<div id="programDivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.ProgramId"></label>
					<input type="hidden" asp-for="@Model.ProgramName" />
					<select asp-for="@Model.ProgramId" asp-items="@Model.ProgramOptions" onchange="slaAlertConfig.Events.OnProgramChanged();">
					</select>
				</div> *@

				<div id="serviceDivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.ServiceId"></label>
					<input type="hidden" asp-for="@Model.ServiceName" />
					<select asp-for="@Model.ServiceId" asp-items="@Model.ServiceOptions" onchange="slaAlertConfig.Events.OnServiceChanged();">
					</select>
				</div>

				<div id="reason01DivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.Reason01Id"></label>
					<input type="hidden" asp-for="@Model.Reason01Name" />
					<select asp-for="@Model.Reason01Id" asp-items="@Model.Reason01Options" onchange="slaAlertConfig.Events.OnReason01Changed();">
					</select>
				</div>

				<div id="reason02DivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.Reason02Id"></label>
					<input type="hidden" asp-for="@Model.Reason02Name" />
					<select asp-for="@Model.Reason02Id" asp-items="@Model.Reason02Options" onchange="slaAlertConfig.Events.OnReason02Changed();">
					</select>
				</div>
			</div>

			<div class="row" style="margin-bottom:10px;">
				<div class="col-sm-1">
					<label>Então</label>
				</div>

				<div id="criticalityDivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.CriticalityId"></label>
					<input type="hidden" asp-for="@Model.CriticalityIdName" />
					<select asp-for="@Model.CriticalityId" asp-items="@Model.CriticalityOptions" onchange="slaAlertConfig.Events.OnCriticalityChanged();">
					</select>
				</div>

				<div id="slaDivId" class="col-sm-3" style="display:none;">
					<label asp-for="@Model.SlaInDays"></label>
					<input class="standard-input" type="text" asp-for="@Model.SlaInDays" required />
				</div>

			</div>

			<button id="btnSlaCreate" type="submit" class="btn btn-style" disabled="disabled">Salvar</button>
			<a class="btn btn-style" href="@baseUrl/TicketClassification/Index">Criar</a>
		</form>
	</div>

</div>

@section Scripts {
	<script src="~/js/slaAlert.js"></script>
}
